# See http://help.github.com/ignore-files/ for more about ignoring files.

# folders
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
nbproject
node_modules
build/
dist/

# files
*.DS_Store
*._*
*.env
*.log
*.lock
*.sqlite

# ignore lock files
!package-lock.json
!yarn.lock
